/* Adicione aqui seus estilos CSS */
body {
    font-family: Arial, sans-serif;
    text-align: center;
}
.form-container {
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #00080c;
    border-radius: 5px;
    background-color: #e4eaec;
    text-align: center;
}
